#body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/static/images/bg-login.jpg');
    opacity: 0.4;
}

#profiles {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    opacity: 0.9;
}