{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }], 
        "react"
    ],
    "plugins": [
        "inline-dotenv",
        "transform-class-properties"
    ]
}