div.header-contents {
    font-size: 12px;
}

div.main-contents {
    font-size: 24px;
    margin-bottom: 8px;
}

div.sub-contents {
    margin-top: 6px;

    span {
        margin-right: 8px;
        font-size: 12px;
    }
}
