.profile-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.profile-main {
    font-size: 36px;
}

.profile-sub {
    font-size: 14px;
}

.profile-bottom-margin {
    margin-bottom: 4px;
}