div.header-contents {
    font-size: 12px;
}

div.main-contents {
    font-size: 24px;
    margin-bottom: 4px;
}

div.sub-contents {
    margin-top: 6px;

    span {
        margin-right: 8px;
        font-size: 12px;
    }
}

div.tag {
    display: inline;
    font-size: 12px;
    padding: 2px 8px;
    margin-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}