div.header-contents {
    font-size: 12px;
}

div.main-contents {
    font-size: 24px;
}

div.sub-contents {
    margin-top: 8px;

    span {
        margin-right: 8px;
        font-size: 14px;
        // color: #616161;
    }
}